{
	plugins: ['transform-object-rest-spread', 'transform-decorators-legacy'],
	env: {
		build: {
			ignore: ['src/__tests__/']
		}
	},
	presets: [
		[
			'env',
			{
				targets: {
					node: '8.9'
				}
			}
		]
	]
}
